<h1>{{ title }}</h1>
<table>
  <tr>
    <td>Pname</td>
    <td>Pnumber</td>
  </tr>
  {{#each project}}
    <form method="post">
      <tr>
        <td>{{Pname}}</td>
        <td>{{Pnumber}}</td>
        <td style="border: none; margin-left: 10px;">
          <button 
            style="margin-left: 10px;"
            type="submit" 
            name="delBtn"
            value={{Pnumber}} 
            formaction="/delete">
          삭제
          </button>
        </td>
      </tr>    
    </form>
  {{/each}}
</table>